---
import { Image, Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  name: string;
  imageSrc?: ImageMetadata;
  imageAlt: string;
  href: string;
  companyUrl: string;
  companyId: string;
}

const { name, companyUrl, imageSrc, imageAlt, href, companyId } = Astro.props;
import '@styles/blocks/card.css';
import LogoPending from '@images/logos/360x200-logo-pending.svg';
---

<article class="card company">
  <a href={href}>
    {
      imageSrc ? (
        imageSrc.format === 'svg' ? (
          <Image
            src={imageSrc}
            alt={imageAlt}
            transition:name={`company-logo-${companyId}`}
          />
        ) : (
          <Picture
            src={imageSrc}
            alt={imageAlt}
            transition:name={`company-logo-${companyId}`}
            formats={['avif', 'webp']}
          />
        )
      ) : (
        <LogoPending aria-hidden="true" />
      )
    }
    <h3 class="card__title">{name}</h3>
  </a>
</article>
<style>
  .card {
    background: transparent;
    img {
      aspect-ratio: 1;
      object-fit: contain;
    }
    .card__title {
      text-transform: capitalize;
    }
  }
</style>
