---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  name: string;
  imageSrc?: ImageMetadata;
  imageAlt: string;
  href: string;
  companyUrl: string;
}

const { name, companyUrl, imageSrc, imageAlt, href } = Astro.props;
import '@styles/blocks/card.css';
---

<article class="card company">
  <a href={href}>
    {imageSrc && <Image src={imageSrc} alt={imageAlt} />}
    <h3 class="card__title">{name}</h3>
    {companyUrl && <p class="card__url">{companyUrl}</p>}
  </a>
</article>
<style>
  .card {
    background: transparent;
    img {
      object-fit: contain;
    }
  }
  * {
    outline: 1px solid red;
  }
</style>
