---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  excerpt: string;
  pubDate: Date;
  imageSrc: ImageMetadata;
  imageAlt: string;
  href: string;
}

const { title, excerpt, pubDate, imageSrc, imageAlt, href } = Astro.props;
---

<article class="card">
  <a href={href}>
    <Image src={imageSrc} alt={imageAlt} />
    <h2>{title}</h2>
    <time datetime={pubDate.toISOString()}>
      {pubDate.toLocaleDateString('en-GB')}
    </time>
    <p>{excerpt}</p>
  </a>
</article>
