---
import { getCollection } from 'astro:content';
import NewsCard from '@components/cards/News.astro';
import Layout from '@layouts/BaseLayout.astro';

const news = await getCollection('news');

const meta = {
  title: 'News',
  description: 'Latest news and updates from Digital Dundee',
  imageOG: 'generic-social-1200x630.png',
  altOG: 'Digital Dundee News',
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>News</h1>
    <secion class="grid">
      {
        news.map((item) => (
          <NewsCard
            title={item.data.title}
            excerpt={item.data.excerpt}
            pubDate={item.data.pubDate}
            imageSrc={item.data.imagePrimary.src}
            imageAlt={item.data.imagePrimary.alt}
            href={`/news/${item.id}`}
          />
        ))
      }
    </secion>
  </main>
</Layout>
<style>
  ul {
    margin: none;
    padding: none;

    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
</style>
