---
import { getCollection } from 'astro:content';
import Layout from '@layouts/BaseLayout.astro';

const news = await getCollection('news');

const meta = {
  title: 'Error 404: Unable to find page',
  description: 'The unable to find the page',
  imageOG: 'generic-social-1200x630.png',
  altOG: 'Alt text for OG image',
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>News</h1>
    <ul class="grid">
      {
        news.map((item) => (
          <li>
            <a href={`/news/${item.id}`}>
              {item.data.title}
              <br />
              {item.data.pubDate}
              <br />
              {item.data.excerpt}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
<style>
  ul {
    margin: none;
    padding: none;

    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
</style>
