---
import { getCollection } from 'astro:content';
import Card from '@components/cards/Success.astro';
import Layout from '@layouts/BaseLayout.astro';
import { sortByDateDesc } from '@utils/pagination';

const successStories = await getCollection('success-stories');
const sortedSuccessStories = sortByDateDesc(successStories);

const meta = {
  title: 'Success Stories | Digital Dundee',
  description:
    "Discover the success stories from Dundee's thriving digital and tech sector",
  ogImage: 'generic-social-1200x630.png',
  pageTitle: 'Success Stories',
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>Success Stories</h1>

    {
      sortedSuccessStories.length > 0 ? (
        <section class="grid" data-layout="thirds">
          {sortedSuccessStories.map((item) => (
            <Card
              title={item.data.title}
              excerpt={item.data.excerpt}
              pubDate={item.data.pubDate}
              imageSrc={item.data.imagePrimary.src}
              imageAlt={item.data.imagePrimary.alt}
              href={`/success-stories/${item.id}`}
            />
          ))}
        </section>
      ) : (
        <p>No success stories found.</p>
      )
    }
  </main>
</Layout>
